@import '~bootstrap/scss/bootstrap';

#board{
    margin: auto;
    display: block;
}

.title_game{
    text-align: center;
    color: white;
}

.score_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;

    .block_score{
        background-color: red;
        display: inline-block;
        width: 50px;
        height: 50px;
        margin-right: 1rem;
    }

    #score{
        font-size: 3rem;
    }
}

.logo_laravel > img{
    height: 30px;
}

.walcomePage{
    height: 100vh;
    color: white;
    text-shadow: 1px 1px black;
}
.bkg_gradient{
    background: rgb(152,251,103);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(152,251,103,1) 38%, rgba(25,135,84,1) 100%);
}


.board_perimeter{
    border: 3px solid green;
}

